@{
    ViewBag.Title = "Señales del Caribe C. por A.";
}

<div id="container">
    <div id="example">
        <div id="slides">
            <div class="slides_container">
                <div class="slide">
                    <img src="@Url.Content("~/Content/Images/slide-1.jpg")" width="570" height="270" alt="Slide 1">
                    <div class="caption" style="bottom: 0">
                        <p>
                            Happy Bokeh Thursday!</p>
                    </div>
                </div>
                <div class="slide">
                    <img src="@Url.Content("~/Content/Images/slide-2.jpg")" width="570" height="270" alt="Slide 2">
                    <div class="caption">
                        <p>
                            Taxi</p>
                    </div>
                </div>
                <div class="slide">
                    <img src="@Url.Content("~/Content/Images/slide-3.jpg")" width="570" height="270" alt="Slide 3">
                    <div class="caption">
                        <p>
                            Happy Bokeh raining Day</p>
                    </div>
                </div>
                <div class="slide">
                    <img src="@Url.Content("~/Content/Images/foto2.jpg")"  alt="Slide 3">
                    <div class="caption">
                        <p>
                            Happy Bokeh raining Day</p>
                    </div>
                </div>
            </div>
            <a href="#" class="prev">
                <img src="@Url.Content("~/Content/Images/arrow-prev.png")" width="24" height="43" alt="Arrow Prev"></a>
            <a href="#" class="next">
                <img src="@Url.Content("~/Content/Images/arrow-next.png")" width="24" height="43" alt="Arrow Next"></a>
        </div>
        <img src="@Url.Content("~/Content/Images/example-frame.png")" width="739" height="341" alt="Example Frame" id="frame">
    </div>
</div>
<h2>@ViewBag.Message</h2>
<p>
    To learn more about ASP.NET MVC visit <a href="http://asp.net/mvc" title="ASP.NET MVC Website">
        http://asp.net/mvc</a>.
</p>
<p>
    To learn more about working with the Telerik Extensions for ASP.NET MVC, you can
    visit the folowing resources:
</p>
<ul>
    <li><a href="http://demos.telerik.com/aspnet-mvc/">online demos</a></li>
    <li><a href="http://www.telerik.com/help/aspnet-mvc/introduction.html">online documentation</a></li>
    <li><a href="http://www.telerik.com/community/forums/aspnet-mvc.aspx">community forums</a></li>
    <li><a href="http://tv.telerik.com/products/aspnet-mvc">videos on Telerik TV</a></li>
</ul>
